body {
  font-family: Monospace;
  font-size: 12pt;
  /*background: #eee;*/
  /* color: #000; */
  padding: 10px;
  margin: 0;
}

#description {
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
  z-index: 100;
  display: block;
}

#sketch {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
